</html>
 
<body>
    <div class="profile-container">
        <h1>Welcome, {{ user.name }}</h1>
        <p>Email: {{ user.email }}</p>
        <p>Available Tokens: <span id="token-balance">{{ user.tokens }}</span></p>

        <h2>Order History</h2>
        <ul>
            {% for order in orders %}
                <li>Spent <b>{{ order[0] }}</b> tokens on {{ order[1] }}</li>
            {% endfor %}
        </ul>

        <a href="{{ url_for('home') }}"><button>Back to Home</button></a>
    </div>
</body>
</html>